@mixin button {
    width: 200px;
    height: 45px;
    border-radius: 30px;
}

$white: #FFFFFF;
$gray: #999999;
$black: #323232;
$dark: #000000;

$xl: 1200px;

$lg0: 993px;
$lg: 992px;
$lg1: 991px;
$lg2: 799px;

$md: 768px;

$sm: 576px;
$sm2: 547px;
$sm3: 412px;
$sm4: 400px;
$sm5: 379px;
$sm6: 329px;