@import "../variables";

.services {
    max-width: 1113px;
    width: 100%;
    padding: 110px 0 105px 0;

    .services__head {
        max-width: 747px;
        width: 100%;
        text-align: center;
        margin-bottom: 70px;

        h1 {
            margin: 0 0 50px 0;
            font-weight: bold;
            font-size: 36px;
        }
        p {
            margin: 0;
            color: $gray;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
        }
    }
}

.services__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .services__block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 55px 0;
    
        .block__icon {
            width: 110px;
            height: 110px;
            border: 1px solid #E0E0E0;
            display: flex;
            justify-content: center;
            align-items: center;
    
            div {
                width: 90px;
                height: 90px;
                border: 1px solid #4985FF;
                border-radius: 50%;
    
                svg {
                    width: inherit;
                    height: inherit;
                    padding: 25px 25px 25px 23px;
                }
            }
        }
    
        .block__text {
            max-width: 225px;
            width: 100%;
            margin: 48px 0 0 17px;
    
            h1 {
                color: $dark;
                font-weight: 600;
                font-size: 18px;
            }
            p {
                color: $gray;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    button {
        @include button;
        margin: 0 auto;
    }
}

@media (max-width: $xl) {
    .services .services__footer .services__block {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .services .services__footer .services__button {
        margin: 0 auto;
    }
}

@media (max-width: $sm3) {
    .services .services__block {
        
        .block__icon {
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .block__text {
            margin: 0 auto;
            text-align: center;
        }
    }
}