@import "../variables";

.footer {
    background-color: #F6F6F8;
    padding: 70px 0 20px 0;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 35px;

        .footer__block {
            
            h1 {
                color: $dark;
                font-weight: 600;
                font-size: 18px;
                margin: 0;
            }
            div {
                margin: 35px 0;

                a {
                    color: $gray;
                    font-weight: normal;
                    font-size: 14px;
                    margin: 0 0 0 10px;
                }
            }
        }
    }

    .reserv {
        color: $gray;
        text-align: center;
        margin: 30px 0 0 0;
        font-weight: normal;
        font-size: 13px;
    }
}

@media (max-width: $lg) {
    .footer .footer__block {
        max-width: 270px;
        width: 100%;
    }
}

@media (max-width: $md) {
    .footer .footer__block {
        max-width: 100%;
        text-align: center;
    }
}