.video {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))), url(../../image/bg-header.png);
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../../image/bg-header.png);
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../../image/bg-header.png);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../../image/bg-header.png);
  background-position: center;
  padding-top: 70px;
  height: 570px; }
  .video .video__header {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 70px; }
    .video .video__header h1 {
      font-weight: bold;
      font-size: 36px;
      margin: 0 0 30px 0; }
    .video .video__header p {
      font-weight: normal;
      font-size: 16px; }
  .video .video__bottom {
    max-width: 1110px;
    padding-bottom: 85px;
    margin-bottom: 85px;
    border-bottom: 1px solid #E0E0E0; }
    .video .video__bottom .bottom__block {
      border-radius: 10px;
      background: url(../../image/video.png) no-repeat;
      background-position: center;
      max-width: 970px;
      width: 100%;
      height: 430px;
      margin: 0 auto; }
      .video .video__bottom .bottom__block .block__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        border: 1px solid #FFFFFF;
        position: relative;
        top: 165px;
        border-radius: 200px;
        max-width: 300px;
        padding: 20px 40px; }
        .video .video__bottom .bottom__block .block__button svg:hover {
          cursor: pointer; }
        .video .video__bottom .bottom__block .block__button p {
          color: #FFFFFF;
          margin: 0;
          font-weight: 500;
          font-size: 16px; }

@media (max-width: 576px) {
  .video__bottom .bottom__block {
    padding: 0 20px; } }

@media (max-width: 379px) {
  .video .video__bottom .bottom__block .block__button {
    padding: 5px 25px; }
    .video .video__bottom .bottom__block .block__button p {
      text-align: center; } }
