@import "../variables";

.video {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), 
              rgba(255, 255, 255, 0.15)), url(../../image/bg-header.png);
    background-position: center;
    padding-top: 70px;
    margin-bottom: 183px;
    height: 570px;

    .video__header {
        text-align: center;
        color: $white;
        margin-bottom: 70px;

        h1 {
            font-weight: bold;
            font-size: 36px;
            margin: 0 0 30px 0;
        }
        p {
            font-weight: normal;
            font-size: 16px;
        }
    }
    .video__bottom {
        max-width: 1110px;
        padding-bottom: 85px;
        border-bottom: 1px solid #E0E0E0;

        .bottom__block {
            border-radius: 10px;
            background: url(../../image/video.png) no-repeat;
            background-position: center;
            max-width: 970px;
            width: 100%;
            height: 430px;
            margin: 0 auto;
    
            .block__button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                border: 1px solid $white;
                position: relative;
                top: 165px;
                border-radius: 200px;
                max-width: 300px;
                padding: 20px 40px;

                svg:hover {
                    cursor: pointer;
                }
                p {
                    color: $white;
                    margin: 0;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .video__bottom .bottom__block {
        padding: 0 20px;
    }
}

@media (max-width: 379px) {
    .video .video__bottom .bottom__block .block__button {
        padding: 5px 25px;

        p {
            text-align: center;
        }
    }
}

@media (max-width: 329px) {
    .video {
        margin-bottom: 230px;
    }
}