.header {
  background: url(../../image/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0; }

.header__block {
  border-bottom: 1px solid #A1A1A1;
  padding-top: 24px;
  padding-bottom: 24px;
  max-height: 100px; }
  .header__block nav {
    max-width: 1331px;
    width: 100%; }

.nav__li {
  margin: 0 32px; }
  .nav__li .nav__button {
    color: #FFFFFF;
    font-size: 16px; }

.nav__button:hover {
  border: 0 none none;
  border-radius: 5%;
  background-color: #FFFFFF;
  color: #323232;
  -webkit-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s; }

.header__face {
  max-width: 829px;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF; }
  .header__face .face__block {
    position: relative;
    top: 219px; }
  .header__face p {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 16px; }
  .header__face h1 {
    margin: 0 0 50px 0;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px; }
  .header__face button {
    width: 200px;
    height: 45px;
    border-radius: 30px; }

@media (max-width: 991px) {
  .header__block {
    max-height: 100%; } }
