@import "../variables";

.works {
    padding-bottom: 85px;

    .works__header {
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
        margin-bottom: -210px;
        height: 490px;

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding-top: 100px;
            max-width: 1110px;
            width: 100%;

            h1 {
                color: $white;
                font-weight: bold;
                font-size: 36px;
                line-height: 53px;
                max-width: 540px;
                width: 100%;
                margin: 0;
            }
    
            button {
                @include button;
            }
        }
    }

    .works__block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 85px;
        border-bottom: 1px solid #E0E0E0;

        h1 {
            font-weight: 600;
            font-size: 18px;
            margin: 30px 0;

            span {
                color: #4985FF;
                margin-right: 7px;
            }
        }
        p {
            color: $gray;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            max-width: 350px;
            width: 100%;
        }
    }
}

@media (max-width: $lg0) {
    .works .works__header {
        height: 390px;
        margin-bottom: -100px;
    }
}

@media (max-width: $lg2) {
    .works .works__header {
        margin-bottom: -50px;
    }
    .works .works__header div {
        justify-content: center;
    }
    .works .works__header div h1 {
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width: $md) {
    .works__block div {
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .works__block a {
        width: 100%;
    }
}

@media (max-width: $sm2) {
    .works .works__header {
        margin-bottom: 0;
    }
    .works .works__header div h1 {
        font-size: 28px;
    }
}