.subscribe {
  padding: 85px 0; }

.subscribe__block {
  margin: 0 auto;
  text-align: center;
  margin: 0 0 20px 0; }
  .subscribe__block h1 {
    color: #000000;
    font-weight: 600;
    font-size: 18px; }
  .subscribe__block p {
    color: #999999;
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 30px 0; }
  .subscribe__block .block__input {
    border: 1px solid #F2F2F2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    max-width: 489px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 0 23px;
    margin: 0 auto; }
    .subscribe__block .block__input input {
      outline: none;
      border: none;
      margin-right: 71px; }
    .subscribe__block .block__input button {
      border-radius: 0 30px 30px 0;
      padding: 15px 36px 15px 26px; }
  .subscribe__block .subscribe__bottom__text {
    font-size: 13px;
    margin: 35px 0 0 0; }
